*.o
*.a
*.hi
*.errors
*.py{c,o}
*.so
*.log
*.sqlite
passwd
undo
.config-lock
cache*
history*
bundle
d1
a2
n7
xy
password*
viminfo
watch_later
bookmarks
tagged
xmonad-x86_64-linux
*.tmp
hosts
accounts
